aws_region                = "us-east-1"
namespace                 = "mynamespace"
name                      = "myapp"
stage                     = "development"
app                       = "<elastic beanstalk app name>"
env                       = "<elastic beanstalk environment name>"
github_oauth_token        = "<github token>"
image_repo_username       = "<docker hub username>"
image_repo_password       = "<docker hub username>"
image_repo_name           = "<docker registry org>/<docker image name>"
image_tag                 = "latest"
repo_owner                = "<git repo org>"
repo_name                 = "<git repo name>"
branch                    = "master"
build_compute_type        = "BUILD_GENERAL1_SMALL"
build_image               = "aws/codebuild/docker:17.09.0"
